language: node_js
node_js:
 - "14"
services:
 - mysql
script:
 - mocha tests/integrationTests --exit
notifications: 
  email: 
    recipients: 
      - matthew.mccaig@kainos.com 
      - gareth.nelson@hotmail.co.uk 
      - aileen.tracey@kainos.com 
      - trionahughes12@gmail.com 
      - niamhmclarnon828@hotmail.co.uk 
      - emug@vp.pl
    on_failure: always 
    on_success: never